@media only screen and (max-width: 1350px) {
  h1 {
    font-size: 8rem !important ;
  }

  .nav-link {
    color: white !important;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 7rem !important ;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 6rem !important ;
  }
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 5rem !important ;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem !important;
  }

  .nav-link {
    display: none;
  }
}
